.contact-list {
    display: flex;
    flex-direction: column;
    flex: 1 1 1;
    width: 300px;
    background: white;
    
    &_header {
        height: 25px;
        color: $mainDark;
    }

    &_wrapp {
        flex: 1 1 auto;
        overflow-y: auto;
        height: 0;
        text-align: left;

        &_portrait {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 15px;
            cursor: pointer;
        }

        &_details {
            display: flex;
            flex-direction: column;
            &_name {
                font-weight: 700;
                font-size: $fontMedium;
                color: $primaryText;
                cursor: pointer;
            }

            &_name:hover {
                color: $theGoodPink;
            }

            &_language {
                color: black;
                font-size: $fontTiny;
                color: $subText;
            }
        }

        ul {
            list-style:none;
            padding: 0;
            margin: 0 auto;
        }

        li {
            padding:20px;
            border-style: solid;
            border-color: $secondaryText;
            border-width: 1px 0;
            display: flex;
            justify-content: flex-start;
        }
        li + li {
            padding: 20px;
            border-width: 0 0 1px 0;
        }
    }

    @media (max-width:$screen-md) {
        width: 200px;
        flex: 1;
    }

    @media (min-width:$screen-md) {
        width: 300px;
    }
}
