.wrapper_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 30px 0;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
        width: 225px;

        @media (max-width:$screen-md) {
            margin-bottom: -30px;
            max-width: 40%;
        }
    }

    &_form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        padding: 50px;
        border-radius: 20px;

        &_header {
            margin-top: 0;
            color: $highlight;
        }

        &_button > button {
            background-color: $highlight;
            color: $mainDark;
            border: none;
            font-size: $fontMedium;
            padding: 10px 20px;
            border-radius: 1000px;
            margin: 15px 0 -10px 0;
        }

        &_button > button:hover {
            background-color: $theGoodPink;
            color: white;
            outline: none;
        }

        &_user-input {
            display: flex;
            text-align: left;
            flex-direction: column;
            justify-content: space-around;
            margin-bottom: 15px;
            min-height: 50px;

            &_label {
                color: $secondaryText;
                margin-bottom: 5px;
                margin-left: 10px;
            }

            &_field {
                font-size: 16px;
                border-radius: 1000px;
                padding: 5px;
                opacity: 1;
                padding: 5px 10px;
                background-color: $secondaryText;
                color: $primaryText;
            }

            &_select {
                min-height: 39px;
                font-size: $fontSmall;
                background-color: $secondaryText;
                color: $primaryText;
                border-radius: 1000px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;       /* Remove default arrow */
                padding: 10px;
            }

        }
    }

}

