@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

$theGoodBlue: #26547C;
$theGoodPink: #ef476f;
$mainDark: rgb(37, 55, 94);
$highlight: #FCD25A;
$mainLight: rgb(86, 171, 238);

$mainMedium: $theGoodPink;
$primaryText: $mainDark;
$secondaryText: #eee;
$subText: #aaa;
$darkText: $mainDark;

$fontGinormus: 48px;
$fontHuge: 36px;
$fontBig: 24px;
$fontMedium: 18px;
$fontSmall: 14px;
$fontTiny: 11px;

.translated {
  background: $theGoodPink;
}

.wrapper_login > svg {
  margin-top: 20px;
  color: $highlight;
  width: 75px !important;
  height: 75px !important;
}


html, body, #root, #root>div  {
  height: 100%;
  color: $primaryText;
  background-color: $mainDark;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: $mainDark;
}

button {
  cursor: pointer;
}

.error-message {
  font-size: $fontSmall;
  font-weight: 600;
  color: $highlight;
}

.link {
  margin-top: -15px;
  font-size: $fontSmall;
  font-weight: 600;
  color: $secondaryText;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Settings */
@import '../scss/settings/settings.scss';

/* Components */
@import '../components/AcceptCallScreen/acceptCallScreen.scss';
@import '../components/ContactList/contactList.scss';
@import '../components/ChatBoard/chatBoard.scss';
@import '../components/Chat/chat.scss';
@import '../components/Register/register.scss';
@import '../components/Login/login.scss';
@import '../components/Navigation/navigation.scss';
@import '../components/OfferCallScreen/offerCallScreen.scss';
@import '../components/MessageEditor/messageEditor.scss';
@import '../components/MessageEditor/buttonUnite.scss';
@import '../components/VideoChat/videoChat.scss';

